@import url('./components/Mouse/Mouse.css');
@import url('./components/Header/Header.css');

.section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
